# Build
.turbo
dist
lib

# Docs
.typedoc
apps/docs/extractor/schemas
apps/docs/public/api
temp

# Environment
.env
.env.*

# Internal
internal_testing

# Logs
logs
*.log

# Miscellaneous
.DS_Store
.fleet
.idea

# Packages
node_modules

# Tarballs
*.tgz

# Vitest
tsconfig.vitest-temp.json
