# Build
.turbo
build
dist

# Docs
.typedoc
apps/docs/extractor/schemas
apps/docs/public/api
temp

# Environment
.env
.env.*

# Extensions
.VSCodeCounter

# IDEs
.idea

# Internal
internal_testing

# Packages
node_modules

# Tarballs
*.tgz

# Vitest
html
tsconfig.vitest-temp.json
