@import "tailwindcss";
@import "@fontsource-variable/jetbrains-mono";

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
}

* {
  scrollbar-color: oklch(37% 0.013 285.805) transparent;
  scrollbar-gutter: stable;
}

.shiki {
  background-color: oklch(14.1% 0.005 285.823) !important;
}
